@using System.Security.Claims
@model IEnumerable<EmployeeApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <div class="row align-items-center">
        <div class="row align-items-center">
            @if (ViewBag.SelectedCompany != null)
            {
                <h1>@ViewBag.SelectedCompany.CompanyName</h1>
            }
        </div>
        <div class="col-3">
            @if (ViewBag.Companies != null)
                {
                    <div class="dropdown-center">
                       <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            会社選択
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var comp in ViewBag.Companies)
                            {
                                <li>
                                    <a class="dropdown-item"
                                     asp-controller="Home"
                                     asp-action="Index"
                                     asp-route-companyId="@comp.Id">
                                     @comp.CompanyName</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
        </div>
        <div class="col-6 text-center">
            <h4 class="display-4">社員一覧</h4>
        </div>
    </div>
    
    <a asp-action="Create" class="btn btn-primary btn-lg m-4">新規登録</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>社員名</th>
                <th>部署名</th>
                <th>課名</th>
                <th>資格名</th>
                <th>登録日</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.EmployeeName</td>
                    <td>@if (employee.Departments?.Any() == true)
                        {
                            @string.Join(", ", employee.Departments.Select(d => d.DepartmentName))
                        }
                        else
                        {
                            <span>未配属</span>
                        }
                    </td>
                    <td>
                        @if (employee.Divisions?.Any() == true)
                        {
                            @string.Join(", ", employee.Divisions.Select(d => d.DivisionName))
                        }
                        else
                        {
                            <span>未配属</span>
                        }
                    </td>
                    <td>
                        @if (employee.Licenses?.Any() == true)
                        {
                            @string.Join(", ", employee.Licenses.Select(l => l.LicenseName))
                        }
                        else
                        {
                            <span>未保持</span>
                        }
                    </td>
                    <td>@employee.CreatedAt?.ToString("yyyy年MM月dd日")</td>
                    <td>
                        <div class="mb-4">
                            <a asp-action="Detail" asp-route-id="@employee.Id" class="btn btn-secondary">詳細</a>
                            <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning m-1">編集</a>
                            @if (User.FindFirst(ClaimTypes.NameIdentifier).Value != employee.Id.ToString())
                            {
                                <form method="post" asp-action="Delete" asp-route-id="@employee.Id" style="display:inline;">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？')">
                                        削除
                                    </button>
                                </form>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
